body {  
    margin: 0;
    padding: 0;
}
header{
background-color: white;
}
.nav-1{ 
    background-color: #003B65;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 45px;
}
.nav-1 ul li { 
    display: inline-block;
    margin-right: 34px;
}
.nav-1 ul li a{ 
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: 100px;
    font-size: 10px;
    text-align: center;

}
.nav-2{ 
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.nav-2 ul {
   display: flex;
   gap: 20px;
   width: 66%;
   margin-top: 50px;
   margin-left: -260px;

}
.nav-2 ul li{ 
    display: absolute;
    list-style: none;
}
.nav-2 ul li a{ 
    text-decoration: none;
    color: #003B65;
    font-size: 19px;
    font-weight: 500;
}
.fa-solid{ 
    font-size: 20px;
    padding-right: 8px;
}
.nav-btn{
    background: #F0BD2D;
    border: none;
    padding:15px 25px;
    color: #003B65;
    font-size: 17px;
    position: relative;
    margin-top: 30px;
}
.header-images{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.header-images p{
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
    color: grey;
}
.rounded-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(206, 206, 206);
    padding: 2px;
    border-radius: 100%;

}
.rounded-img img{
    height: 65px;
    width: 65px;
    border-radius: 100%;
   
}
/* Hero Section */
.hero-section{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.20)), url(/Firstbank/IMAGES/[Downloader.la]-6485e042c1620.jpg);
    width: 100%;
    position: absolute;
    height: 700px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
div.earn-in-dollars{
    position: relative;
    width: 40%;
    height: 370px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    margin-top: 300px;
    padding-bottom: 30px;
}
div.earn-in-dollars h2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 54px
}
div.earn-in-dollars button{
    position: relative;
    left: 100px;
    background-color: #F0BD2D;
    border: none;
    color:#003B65;
    font-size: 17px;
    padding:14px 29px;
    margin-bottom: 40px;
}