body {  
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
    
}
header{
background-color: white;

}
.nav-1{ 
    background-color: #003B65;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 45px;
}
.nav-1 ul li { 
    display: inline-block;
    margin-right: 34px;
}
.nav-1 ul li a{ 
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: 100px;
    font-size: 10px;
    text-align: center;

}
.nav-2{ 
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.nav-2 ul {
   display: flex;
   gap: 20px;
   width: 66%;
   margin-top: 50px;
   margin-left: -260px;

}
.nav-2 ul li{ 
    display: absolute;
    list-style: none;
}
.nav-2 ul li a{ 
    text-decoration: none;
    color: #003B65;
    font-size: 19px;
    font-weight: 500;
}
.fa-solid{ 
    font-size: 20px;
    padding-right: 8px;
}
.nav-btn{
    background: #F0BD2D;
    border: none;
    padding:15px 25px;
    color: #003B65;
    font-size: 17px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-btn:hover{
    background-color: #003B65;
    color:#F0BD2D;
}
.header-images{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.header-images p{
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
    color: grey;
}
.rounded-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(206, 206, 206);
    padding: 2px;
    border-radius: 100%;

}
.rounded-img img{
    height: 65px;
    width: 65px;
    border-radius: 100%;
    cursor: pointer;
   
}
/* Hero Section */
.hero-section{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-image:  url(/Firstbank/IMAGES/[Downloader.la]-6485e042c1620.jpg);
    width: 100%;
    height: 750px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
div.earn-in-dollars{
    position: relative;
    width: 40%;
    height: 400px;
    
    background: rgba(0, 0, 0, 0.3);
    margin-top: 320px;
    padding-bottom: 30px;
}
div.earn-in-dollars h2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 54px
}
.learn-more_btn{
    position: relative;
    left: 100px;
    background-color: #F0BD2D;
    border: none;
    color:#003B65;
    font-size: 17px;
    padding:14px 29px;
    margin-bottom: 40px;
    cursor: pointer;
}
div.internet-banking{
    position: relative;
    background: white;
    text-align: center;
    height: 204px;
    padding: 20px;
    margin-top: 510px;
}
div.internet-banking p{
    color:#003B65;
    font-size: 12px;
    font-weight: 400;
}
.Personal-btn{
    display: block;
    font-size: 17px;
    color: #003B65;
    background: #F0BD2D;
    padding: 12px 20px;
    border: none;
    margin-bottom: 18px;
    cursor: pointer;
}
.budiness-btn{
    background: #003B65;
    border: none;
    padding: 14px 69px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
/* Icons Section */
.icons-section{
    background: #003B65;
    width: 100%;
    height: 240px;
}

.moving-text{
    display: flex;
    padding: 70px;
    color:#003B65;
    font-size: 30px;
   
}
.bank-services-section{
    padding: 50px;
}
.bank-services-section h3{
    padding-left: 30px;
    margin-bottom: 0;
    font-size: 40px;
    color:#003B65
}
.bank-services-section p{
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 19px;
    color: grey;

}
.services-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.services{
    background-image: url(/Firstbank/IMAGES/fbn-personal-100.jpeg);
    width: 350px;
    height: 310px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.services-container h4{ 
    text-align: left;
    width: 274px;
    margin-top: -5px;
    font-size: 21px;
    color:#003B65;
    padding: 38px;
    background-color: white;
}
/* Video Section */
.video-section{
    
} 
.video-section .container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.video-text-container{
    display: inline-block;
    width: 450px;
    height: 300px;
    background-color: white;
    padding: 60px;

} 
.video-text-container h2{
    color:#003B65;
    font-size: 46px;
} 

.video-text-container p{
    color: grey;
    font-size: 20px;
}
.video-text-container button{
    background-color: #F0BD2D;
    border: none;
    color:#003B65;
    font-size: 17px;
    padding:14px 29px;
    margin-bottom: 40px;
    cursor: pointer;
}
.video{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    right: 70px;
    top: 50px;
    background-image: url(/Firstbank/IMAGES/Firstmonie-100KA-Happy.jpeg);
    width: 450px;
    height: 330px;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.fa-sharp{
    color: white;
    font-size: 16px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 33px;
    border-radius: 100%;
}

/* Sustianability */
.sustainability-flexBox{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.sustainability-backgroundImg{
    background-image: url(/Firstbank/IMAGES/fbn-personalbanking-56.jpeg);
    width: 400px;
    height: 420px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
.sustainability-text_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    background-color: white;
}
.sustainability-text_container h3{
    color: #003B65;
    font-size: 22px;
}
.sustainability-text_container p{
    color: grey;
}
.img-text-container{
    display: flex;
}
.sustainability-backgroundImg h4{
    color:#003B65;
    font-size: 23px;
    position: relative;
    background-color: white;
    padding: 18px 20px;
    top: 300px;
}
